/* The main container */
.container {
  display: flex;
}

/******************** Left block ********************/
.leftBlock {
  flex: 0.8;
}

.image {
  width: 500px;
  height: 100%;
  display: flexbox;
  margin-left: 2rem;
  margin-top: 3rem;
}


/******************** Right block ********************/
.rightBlock {
  flex:2;
}

.rightBlock .example {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;

  font-size: 1.3rem;
  justify-content: space-around;
  text-align: justify;
  text-justify: inter-word;
  width: 90%;
}

/* Next button */
.buttonID2 {
  color: #fff;
  background-color: #BF557B;
  text-decoration: none;
  padding: 0.38rem 1.5rem;
  font-size: 1.5rem;
  border: none;
  align-items: center;
  margin-left: 35rem;
  margin-top: 2rem;
}

.mark {
  background-color: rgb(222, 228, 139);
  color: black;
  opacity: 0.8;
}

.markTarget {
  background-color: rgb(90, 215, 224);
  color: black;
  opacity: 0.8;
}

.markItem {
  background-color: rgb(239, 247, 170);
  color: black;
  opacity: 0.8;
}