/* The main container */
.container {
    display: flex;
}

/******************** Left block ********************/
.leftBlock {
    flex: 0.8;
}

.image {
    width: 500px;
    height: 100%;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.description {
    font-size: 1.2rem;
    justify-content: space-around;
    text-align: justify;
    text-justify: inter-word;
    width: 90%;

}

.description h3 {
    margin-left: -0.05rem;

}

.description ul {
    margin-left: 2rem;
}

.description ul li b {
    font-weight: 500;
}

/******************** Right block ********************/
.rightBlock {
    flex:2;
    /* background-color: aqua; */
}

.rightBlock .list {
    margin-left: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

.tableRow {
    margin-top: 0.7rem;
}

.attribute{
    font-style: italic;
    font-weight: 600
}

.submi {
    display: flex;
    margin-top: 3rem;
    margin-left: 4rem;
    margin-right: 13rem;
    justify-content: flex-end;
}

.submi input {
    /* border: none; */
    width: 20rem;
    height: 2rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.submi input:focus {
    outline: none;
}

.submi input::placeholder {
    font-size: 1rem;
}

.submi button {
    width: 8rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 600;
}


.radios {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radios input {
    margin-right: 0.8rem;
}