table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

 /* Setting all columns center except the first one */
tr td:nth-child(1n + 2){
    text-align: center;
  }

table td,
table th {
    /* border: 1px solid #ddd; */
    padding: 5px;
}

 /* lines color */
table tr:nth-child(even) {
    background-color: #f2f2f2;
}


 /* color while in a row*/
table tr:hover {
    background-color: rgb(246, 246, 246);
}
 /* table header*/
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3B1342;
    /* Changing the background of the title*/
    color: white;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }